{% extends 'base.html.twig' %}

{% block title %}Hello TasksController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/wac/districall/task/src/Controller/TasksController.php</code></li>
        <li>Your template at <code>/home/wac/districall/task/templates/tasks/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
